.hero {
    min-height: 380px;
    // background-size: cover;
    // background-position: top center;
    // background-repeat: no-repeat;
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    color: var(--col-white);
    h1 {
        font-size: var(--fs-900);
    }
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: linear-gradient(90deg, var(--col-blue-400) 0%, hsl( var(--hsl-blue-400) / 0.4 ) 100%);
    }
    &__bg {
        position: absolute;
        inset: 0;
        height: 100%;
        object-fit: cover;
        object-position: top;
        z-index: -1;
    }
}

.hero_full {
    height: 600px;
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    position: relative;
    display: grid;
    place-content: center;
    &__content {
        color: var(--col-white);
    }
    &__subtitle {
        margin-top: 3rem;
    }
    &__bg {
        position: absolute;
        inset: 0;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }
}