.hub_cards {
    &__grid {
        display: grid;
        gap: 1rem;
        @media (min-width:992px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &__card {
        padding: 1rem;
        display: grid;
        img {
            width: 100%;
            height: 260px;
            object-fit: cover;
            object-position: center;
            margin-bottom: 1rem;
        }
    }
    &__inner {
        display: grid;
        grid-template-rows: 1fr auto;
        a {
            justify-self: start;
        }
    }
    .span-2 {
        @media (min-width:992px) {
            gap: 1rem;
            grid-column: span 2;
            grid-template-columns: 1fr 3fr;
            img {
                height: 100%;
                margin-bottom: 0;
            }
        }
    }
    ul {
        padding-left: 1rem;
        li {
            margin-bottom: 0.5rem;
        }
    }
}