.hub_cards {
    &__grid {
        display: grid;
        gap: 1rem;
        @media (min-width:992px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &__card {
        padding: 1rem;
        display: grid;
        img {
            width: 100%;
            height: 260px;
            object-fit: cover;
            object-position: center;
            margin-bottom: 1rem;
        }
    }
    &__image_container {
        position: relative;
        .image_caption {
            position: absolute;
            bottom: 2rem;
            left: 1rem;
            right: 1rem;
            font-size: var(--fs-600);
            color: var(--col-white);
            font-weight: var(--fw-600);
            text-shadow: 
            -1px -1px 0 var(--col-black),  
             1px -1px 0 var(--col-black),
            -1px  1px 0 var(--col-black),
             1px  1px 0 var(--col-black);
        }
    }
    &__inner {
        display: grid;
        grid-template-rows: 1fr auto;
        a {
            justify-self: start;
        }
    }
    .span-2 {
        @media (min-width:992px) {
            gap: 1rem;
            grid-column: span 2;
            grid-template-columns: 1fr 3fr;
            img {
                height: 100%;
                margin-bottom: 0;
            }
        }
    }
    ul {
        padding-left: 1rem;
        li {
            margin-bottom: 0.5rem;
        }
    }
}