.bg-black {
    background-color: var(--col-black);
    color: var(--col-white);
}
.bg-grey-200 {
    background-color: var(--col-grey-200);
    color: var(--col-black);
}
.bg-grey-400 {
    background-color: var(--col-grey-400);
    color: var(--col-white);
}
.bg-grey-900 {
    background-color: var(--col-grey-900);
    color: var(--col-white);
}
.text-grey-900 {
    color: var(--col-grey-900) !important;
}
.bg-blue-900 {
    background-color: var(--col-blue-900);
    color: var(--col-white);
}
.text-blue-900 {
    color: var(--col-blue-900);
}
.bg-blue-400 {
    background-color: var(--col-blue-400);
    color: var(--col-white);
}
.text-blue-400 {
    color: var(--col-blue-400);
}
.bg-blue-200 {
    background-color: var(--col-blue-200);
    color: var(--col-black);
}
.bg-green-400 {
    background-color: var(--col-green-400);
    color: var(--col-black);
}
.text-green-400 {
    color: var(--col-green-400);
}
